@import "../../variables";

.Landing {
    width: 100%;
    height: 100%;
}

.video-overlay {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px 5px; 
    z-index: 1;
}

.video-container { 
    width: 100%;
    margin: auto;
    position: relative;
    video {
    z-index: -1;
    width: 100%
    }
}
.search-container{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.input-bar {
    height: 35px;
    width: 500px;;
    font-size: 1.5em;
    text-align: center;
    font-family: $font-family-elegant;
    color: black;
    opacity: 0.85;
}


.submit-btn {
    height: 35px;
    width: 75px;
    background-color: rgb(235, 63, 57);
    text-decoration: none;
    color: white;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-bold;
    font-weight: bold;
    
}

.submit-btn:hover {
    background-color: rgb(243, 160, 157);
}

.description-container{
    margin: auto;
font-family: $font-family-bold;
font-size: 30px;
font-weight: bold;
color: white;
width: 75%;
height: 50%;
opacity: 0.80;
animation: fadein 5s;
display: flex;
align-items: center;
justify-content: center;
}

.bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-dark;
}

.about-container{
    width: 50%;
    height: 40%;
    margin: auto;
    background-color: $color-light;
    text-align: left;
}

.about-title{
    font-family: $font-family-bold;
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
}

.about-description{
    font-family: $font-family-elegant;
    font-size:1.5em;
}

.photo-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}
.carousel-container {
    height: 400px;
    width: 700px;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: gray; 
}

.image {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover; 
    transition: left .4s; /* transition lets photos slide over smoothly */
  }

  .spinner{
      height: 100px;
      width: 100px;
      border: solid 2px black;
      animation: loading 1s infinite;
      position: absolute;
      margin: auto;
  }

@keyframes slideInDown {
   0% {
       transform: translateY(-100%);
       visibility: visible;
   }
   100% {
       transform: translateY(0);
   }
} 

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .80; }
}

@keyframes loading {
    from{transform: rotate(0deg); }
    to{transform: rotate(360deg); }
  }