@import '../../variables';

.Listing{
    text-align: center;
}

.content-container {
    background-color: red;
    width: 90%;
    height: 100vh;
    display: flex;
    margin: 0 auto 0 auto;
}

.left-profile-container {
    height: 100vh;
    width:40%;
    background-color: $color-medium; 
    .profile-pic{
        height: 230px;
        width: 230px;
        border: solid 2px rgb(3, 111, 199);
        border-radius:200px;
    }
}

.right-favorite-container {
    max-height: 100%;
    width: 60%;
    background-color: $color-dark;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    h1{
        margin-bottom:20px;
        background-color:$color-light;
        height: 50px;
    }
}

.listing-container {
    height: 200px;
    width: 500px;
    display: flex;
    background-color: white;
    border:5px solid rgb(80, 80, 80);
    margin:20px;
    align-content: center;
    font-family: $font-family-elegant;
}

.listing-photo {
    height: 160px;
    width: 35%;
    margin: 20px;
    object-fit: cover;
    overflow: hidden;
    background-color: cornflowerblue;
}

.listing-description-container {
    h4{
        margin: 5px;
    }
}

.restaurant-title {
    color: rgb(32, 28, 28);
    text-decoration: none;
    transition: color 1s;
}

.restaurant-title:hover {
color: rgb(18, 91, 248);
}

.add-listing-btn {
    margin: 5px 5px 0 0;
    cursor: pointer;
    height: 35px;
    width: 75px;
    background-color: rgb(235, 63, 57);
    text-decoration: none;
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-bold;
}

.add-listing-btn:hover{
background-color: rgb(243, 160, 157);
}
