@import '../../variables';

.Listing{
    text-align: center;
}

.profile-parent-container {
    font-family: $font-family-elegant;
    width: 90%;
    height: 100vh;
    display: flex;
    margin: 0 auto 0 auto;
}

.left-profile-container {
    height: 100vh;
    width:40%;

    .profile-pic{
        height: 230px;
        width: 230px;
        border: solid 2px rgb(3, 111, 199);
        border-radius:200px;
        -webkit-animation-name: bounceIn;
        animation-name: bounceIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}


.right-favorite-container {
    width:60%;
    height:100vh;
}

.favorite-title{
    background-color:$color-medium;
    font-size:2em;
    color: white;
    height: 8.25%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay:0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.favorite-content {
    height: 91.75%;
    width: 100%;
    background-color: $color-dark;
    border: solid 1px white;
    // display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    overflow: scroll;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.listing-container {
    height: 200px;
    width: 500px;
    display: flex;
    background-color: white;
    border:5px solid rgb(80, 80, 80);
    margin:20px auto 20px auto;
    align-content: center;
    font-family: $font-family-elegant;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.listing-photo {
    height: 160px;
    width: 35%;
    margin: 20px;
    object-fit: cover;
    overflow: hidden;
    background-color: cornflowerblue;
}

.listing-description-container {
    h4{
        margin: 5px;
    }
}

.restaurant-title {
    color: rgb(18, 91, 248);
    transition: color 1s;
    font-size: 1.25em;
}

.restaurant-title:hover {
color: rgb(126, 165, 245);
}

.delete-listing-btn {
    margin: 5px;
    cursor: pointer;
    height: 35px;
    width: 75px;
    background-color: rgb(235, 63, 57);
    text-decoration: none;
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-bold;
    font-size: 1.25em;
}

.delete-listing-btn:hover{
    background-color: rgb(243, 160, 157);
}

@-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
} 

@-webkit-keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% {
-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
    opacity: 0;
-webkit-transform: scale3d(.3, .3, .3);
transform: scale3d(.3, .3, .3);
}
20% {
-webkit-transform: scale3d(1.1, 1.1, 1.1);
transform: scale3d(1.1, 1.1, 1.1);
}
40% {
-webkit-transform: scale3d(.9, .9, .9);
transform: scale3d(.9, .9, .9);
}
60% {
opacity: 1;
-webkit-transform: scale3d(1.03, 1.03, 1.03);
transform: scale3d(1.03, 1.03, 1.03);
}
80% {
-webkit-transform: scale3d(.97, .97, .97);
transform: scale3d(.97, .97, .97);
}
100% {
opacity: 1;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
@keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% {
-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
opacity: 0;
-webkit-transform: scale3d(.3, .3, .3);
transform: scale3d(.3, .3, .3);
}
20% {
-webkit-transform: scale3d(1.1, 1.1, 1.1);
transform: scale3d(1.1, 1.1, 1.1);
}
40% {
-webkit-transform: scale3d(.9, .9, .9);
transform: scale3d(.9, .9, .9);
}
60% {
opacity: 1;
-webkit-transform: scale3d(1.03, 1.03, 1.03);
transform: scale3d(1.03, 1.03, 1.03);
}
80% {
-webkit-transform: scale3d(.97, .97, .97);
transform: scale3d(.97, .97, .97);
}
100% {
opacity: 1;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
} 

@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 