@import url("https://fonts.googleapis.com/css?family=Lobster|Cabin");
.Restaurant {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1660b4; }

.title {
  color: white;
  margin: 0px;
  padding-top: 80px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.restaurant-container {
  width: 70%;
  margin: 20px auto;
  padding-bottom: 20px;
  font-size: 20pz;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .restaurant-container .card-image {
    width: 100%;
    height: 400px;
    object-fit: cover; }
  .restaurant-container h4 {
    margin-top: 10px; }
  .restaurant-container p {
    margin-top: 10px; }

.restaurant-description-container p {
  font-size: 20px; }

.reviews h4 {
  font-size: 30px;
  font-family: Cabin; }

.reviews p {
  font-size: 20px;
  margin: 20px 100px;
  font-style: italic;
  color: #2c2c2c; }

.yelp-btn {
  height: 50px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
  background-color: red;
  font-size: 1.25em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }

.add-restaurant-btn {
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  font-family: Lobster;
  font-size: 1.25em;
  color: white;
  border-radius: 5px;
  background: #1A936F;
  border: #88D498;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/*Tablet Views */
@media (max-width: 768px) {
  .carousel-container {
    height: 200px;
    width: 350px; }
  .restaurant-container {
    width: 80%; }
  .reviews p {
    margin: 20px 20px; } }

@media (max-width: 480px) {
  .carousel-btn {
    display: none; }
  .carousel-container {
    height: 300px;
    width: 300px; }
  .restaurant-container {
    width: 90%; }
  .reviews p {
    margin: 20px 10px; } }
