@import url("https://fonts.googleapis.com/css?family=Lobster|Cabin");
.Restaurant {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F3E9D2; }

.photo-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px; }

.carousel-container {
  height: 400px;
  width: 700px;
  overflow: hidden;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: gray; }

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  transition: left .4s;
  /* transition lets photos slide over smoothly */ }

.spinner {
  height: 100px;
  width: 100px;
  border: solid 2px black;
  animation: loading 1s infinite;
  position: absolute;
  margin: auto; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.carousel-btn {
  cursor: pointer;
  color: #010201;
  padding: 10px 20px;
  border-radius: 3px;
  border: medium solid black;
  background-color: #114B5F;
  transition: .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lobster;
  font-size: 2em;
  font-weight: bold;
  color: black; }

.carousel-btn:hover {
  background-color: #C6DABF; }

.restaurant-description-container {
  width: 80%;
  margin: 20px auto 20px auto;
  font-family: Cabin;
  color: black;
  background-color: #1A936F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.yelp-btn {
  height: 50px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: solid 2px black;
  background-color: #da2727;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; }

.add-restaurant-btn {
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  color: #342069;
  background: #88D498;
  border: #88D498;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
