@import url('https://fonts.googleapis.com/css?family=Lora|Ubuntu');

$font-family-bold: Ubuntu;
$font-family-elegant: Lora;

$color-dark: #114B5F; //content, outlines
$color-light: #F3E9D2; //large background
$color-medium: #1A936F; // mostly used
$color-dull: #C6DABF; //used for layouts
$color-bright: #88D498; //used for accents
$color-contrast: #da2727;